<div class="not-found">
  <div class="blob-bg">
    <svg viewBox="0 0 400 800" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice">
      <path class="blob" 
      transform="translate(-20 0)"
      d="M 150,0 
                           C 250,150 380,200 300,400 
                           C 220,600 350,650 250,800 
                           L 100,800 
                           C 180,650 80,600 150,400 
                           C 220,200 100,150 50,0 
                           Z" />
    </svg>
  </div>
  <div class="code heading-1">404</div>
  <h1 class="title" appTypography="heading-4">Page not found</h1>
  <p class="message" appTypography="medium-text-regular">
    The page you're looking for doesn't exist or has been moved.
  </p>
  <button mat-raised-button color="primary" routerLink="/">
    Go to Dashboard
  </button>
</div>