:host {
  background-color: var(--md-sys-color-surface);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: var(--padding-card);
}

.login {
  display: flex;
  flex-direction: column;
  align-items: center;
}
