<h1 appTypography="heading-3" class="register__title">register</h1>
<mat-stepper class="register__stepper" linear #stepper>
  <mat-step [stepControl]="nameForm">
    <form [formGroup]="nameForm" class="register__step">
      <ng-template matStepLabel>Fill your name </ng-template>

      <mat-form-field appearance="outline">
        <mat-label>Name</mat-label>
        <input matInput formControlName="name" placeholder="type your name">

        @if (nameForm.controls.name.hasError('required')) {
        <mat-error>Name is required</mat-error>
        } @else if (nameForm.controls.name.hasError('minlength')) {
        <mat-error>Name must be at least 2 characters</mat-error>
        }
      </mat-form-field>

      <div class="register__actions">
        <button matButton="filled" matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>

  <mat-step [stepControl]="ageForm">
    <form [formGroup]="ageForm" class="register__step">
      <ng-template matStepLabel>Fill your age </ng-template>

      <mat-form-field appearance="outline">
        <mat-label>Age</mat-label>
        <input matInput formControlName="age" type="number" placeholder="type your age">

        @if (ageForm.controls.age.hasError('required')) {
        <mat-error>Age is required</mat-error>
        } @else if (ageForm.controls.age.hasError('min')) {
        <mat-error>You must be at least 18</mat-error>
        }
      </mat-form-field>

      <div class="register__actions">
        <button matButton matStepperPrevious>Back</button>
        <button matButton="filled" matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>

  <mat-step [stepControl]="emailForm">
    <form [formGroup]="emailForm" class="register__step">
      <ng-template matStepLabel>Fill your e-mail </ng-template>

      <mat-form-field appearance="outline">
        <mat-label>E-mail</mat-label>
        <input matInput formControlName="email" type="email" placeholder="type your e-mail">

        @if (emailForm.controls.email.hasError('required')) {
        <mat-error>E-mail is required</mat-error>
        } @else if (emailForm.controls.email.hasError('email')) {
        <mat-error>Insert correct e-mail</mat-error>
        }
      </mat-form-field>

      <div class="register__actions">
        <button matButton matStepperPrevious>Back</button>
        <button matButton="filled" matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>

  <mat-step [stepControl]="passwordForm">
    <form [formGroup]="passwordForm" class="register__step">
      <ng-template matStepLabel>Fill your password </ng-template>

      <mat-form-field appearance="outline">
        <mat-label>Password</mat-label>
        <input matInput formControlName="password" type="password" placeholder="type your password">

        @if (passwordForm.controls.password.hasError('required')) {
        <mat-error>Password is required</mat-error>
        } @else if (passwordForm.controls.password.hasError('minlength')) {
        <mat-error>Password must be at least 8 characters</mat-error>
        }
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Confirm password</mat-label>
        <input matInput formControlName="confirmPassword" type="password" placeholder="repeat your password">

        @if (passwordForm.controls.confirmPassword.hasError('required')) {
        <mat-error>Please confirm your password</mat-error>
        }
      </mat-form-field>

      @if (passwordForm.hasError('passwordMismatch') && passwordForm.controls.confirmPassword.touched) {
      <p class="register__error" appTypography="small-text-regular">Passwords do not match</p>
      }

      <div class="register__actions">
        <button matButton matStepperPrevious>Back</button>
        <button matButton="filled" matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>

  <mat-step>
    <ng-template matStepLabel>Done</ng-template>

    <div class="register__step">
      <p appTypography="medium-text-regular">Review your details and create your account.</p>

      <div class="register__actions">
        <button matButton matStepperPrevious>Back</button>
        <button matButton (click)="stepper.reset()">Reset</button>
      </div>
    </div>
  </mat-step>
</mat-stepper>