@use '../../../../styles/mixins/input.scss' as *;
@use '../../../../styles/mixins/icon.scss' as *;

:host {
  max-width: 100%;
  height: 100%;
  display: flex;

  .name-editor {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: auto 2rem;
    align-items: center;
    gap: var(--padding-xxs);

    mat-icon {
      @include icon-sm();
    }

    .name-editor-input {
      @include input-m;
    }

    .view-mode {
      display: flex;
      align-items: center;
      gap: var(--padding-extra-sm);
    }

    .edit-mode {
      display: flex;
      align-items: center;
      gap: var(--padding-extra-s);
    }
  }
}
