<div class="about-us-wrapper">
    <div class="about-us-content">
        <header class="about-us-header">
            <h1 appTypography="heading-3">Meet the People Behind Runtime Terror</h1>
            <p appTypography="large-text-regular">Three women, one codebase, zero mercy for bugs.</p>
        </header>

        <section class="team-members-wrapper">
            @for(member of teamMembers; track member.id) {
            <app-member-card [member]="member" />
            }
        </section>
    </div>
</div>