:host {
  display: block;
  width: 100%;
}

.about-us-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  box-sizing: border-box;
  padding-bottom: var(--padding-l);

  .about-us-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 1200px;

    .about-us-header {
      text-align: center;
      padding: var(--padding-l) var(--padding-m);
      color: var(--text-primary);
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: var(--padding-xs);

      p {
        color: var(--text-secondary);
      }
    }
  }
}