
<div class="header-section">
  <div class="title-field">
    <app-typography
      tag="h2"
      [text]="welcomeText"
      variant="heading-5" class="main-title" />
    <app-typography
      text="Hope you are healthy and happy today..."
      variant="medium-text-regular"
      class="sub-title" />
  </div>
  <div class="utilities-field">
    <div class="search-bar">
      <input type="text" placeholder="Search..." />
      <mat-icon>search</mat-icon>
    </div>

    <div class="user-actions">
      <div matBadge="1" matBadgeSize="small" class="demo-section">
        <mat-icon
          class="notif-icon">notifications</mat-icon>
      </div>

      <div
        class="menu-trigger-wrapper"
        [matMenuTriggerFor]="userMenu"
        #menuTrigger="matMenuTrigger">
        <div class="user-icon-area">
          <img
            [src]="isLoggedIn && user ? user.logo : 'assets/icons/default_user.svg'"
            alt="User Profile Picture"
            [class.def-user-icon]="!isLoggedIn" />
        </div>

        <span class="arrow" [class.rotated]="menuTrigger.menuOpen">
          <mat-icon>keyboard_arrow_down</mat-icon>
        </span>
      </div>

      <mat-menu #userMenu="matMenu" xPosition="before" class="custom-user-menu">
        <button mat-menu-item
          (click)="toggleTheme(theme === 'light' ? 'dark' : 'light')">
          <mat-icon>{{ theme === 'light' ? 'dark_mode' : 'light_mode'
            }}</mat-icon>
          <span>{{ theme === 'light' ? 'Dark mode' : 'Light mode' }}</span>
        </button>
        @if (isLoggedIn) {
        <button mat-menu-item>
          <mat-icon>account_circle</mat-icon>
          <span>Profile</span>
        </button>
        <button mat-menu-item class="logout-btn">
          <mat-icon>logout</mat-icon>
          <span>Logout</span>
        </button>
        } @else {
        <button mat-menu-item>
          <mat-icon>login</mat-icon>
          <span>Log In</span>
        </button>
        <button mat-menu-item>
          <mat-icon>person_add</mat-icon>
          <span>Sign Up</span>
        </button>
        }
      </mat-menu>
    </div>
  </div>
</div>
