@mixin flex-align-center {
  display: flex;
  align-items: center;
}

:host {
  display: flex;
  height: 100%;
  width: 100%;
  background-color: var(--card-bg);
  border-bottom: 1px solid var(--card-border);
  padding: var(--padding-card);

  .header-section {
    @include flex-align-center();
    flex-grow: 1;
    justify-content: space-between;

    .title-field {
      .main-title {
        color: var(--text-primary);
      }
      .sub-title {
        color: var(--text-secondary);
      }
    }

    .utilities-field {
      @include flex-align-center();
      gap: 1rem;

      .search-bar {
        @include flex-align-center();
        position: relative;

        input {
          border: 2px solid var(--card-border);
          font-size: var(--font-description);
          padding: 0.75rem 2rem;
          padding-left: 2.75rem;
          border-radius: var(--radius-sm);

          &:focus {
            border-color: var(--md-sys-color-primary);
          }
        }

        img {
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          left: 0.625rem;
        }
      }

      .user-actions {
        @include flex-align-center();
        gap: 1rem;

        .demo-section {
          @include flex-align-center();
        }

        .notif-icon {
          height: 1.5rem;
          width: 1.5rem;
        }

        .menu-trigger-wrapper {
          @include flex-align-center();
          gap: 0.5rem;
          .user-icon-area {
            @include flex-align-center();
            justify-content: center;
            height: 2rem;
            width: 2rem;
            border-radius: 50%;
            background-color: #d4d4d4;

            img {
              height: 100%;
              border-radius: 50%;

              &.def-user-icon {
                width: 1.5rem;
                height: 1.5rem;
              }
            }
          }

          span.arrow {
            @include flex-align-center();
            cursor: pointer;
            transition: transform 0.2s ease;

            &.rotated {
              transform: rotate(180deg);
            }
          }
        }
      }
    }
  }
}
