@keyframes show-panel {
  0% {
    opacity: 0;
    transform: scaleY(0);
  }

  100% {
    opacity: 1;
    transform: scaleY(1);
  }
}

@keyframes open-left-panel {
  from {
    transform: translateX(-110%);
  }

  to {
    transform: translateX(0%);
  }
}

@keyframes close-left-panel {
  from {
    transform: translateX(0%);
  }

  to {
    transform: translateX(-110%);
  }
}
