 @if (isMobile) {
<button
  mat-icon-button
  (click)="toggleBurger()">
  <mat-icon>menu</mat-icon>
</button>
}
<mat-sidenav-container class="layout">

  <mat-sidenav #sidenav
    [mode]="isMobile ? 'over' : 'side'"
    [opened]="!isMobile">

    <mat-nav-list>

      @for (item of menu; track item.label) {

      @if (!item.children) {
      <a
        mat-list-item [routerLink]="item.link"
        class="item active"
        routerLinkActive="active">
        <mat-icon matListItemIcon>{{ item.icon }}</mat-icon>
        <app-typography
          tag="span"
          matListItemTitle
          [text]="item.label"
          variant="medium-text-semibold" />
      </a>
      }

      @if (item.children) {
      <div class="parent"
        tabindex="0"
        (click)="toggle(item.label)"
        (keydown.enter)="toggle(item.label)"
        (keydown.space)="toggle(item.label)">
        <mat-icon>{{ item.icon }}</mat-icon>
        <app-typography [text]="item.label" variant="medium-text-semibold"
          tag="span" />
        <mat-icon class="arrow">
          {{ openedItem === item.label ? 'expand_less' : 'expand_more' }}
        </mat-icon>
      </div>

      <div class="children" [class.open]="openedItem === item.label">
        @for (child of item.children; track child.label) {
        <a
          mat-list-item [routerLink]="child.link"
          routerLinkActive="active"
          class="child">
          <app-typography tag="span" [text]="child.label"
            variant="medium-text-semibold" />
        </a>
        }
      </div>
      }

      }

    </mat-nav-list>

  </mat-sidenav>

</mat-sidenav-container>
