@use '@angular/material' as mat;
@use 'styles/common.scss' as *;
@use 'styles/app-theme.scss' as *;
@use 'styles//fonts.scss' as *;
@use 'styles/normalize.css' as *;
@use 'styles/typography.scss' as *;
@use 'styles/animations.scss' as *;

@include mat.core();

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  height: 100vh;
  @include mat.theme((color: (primary: mat.$cyan-palette,
        tertiary: mat.$orange-palette,
      ),
      typography: Roboto,
      density: 0,
    ));
}

body {
  color-scheme: dark light;
  background-color: var(--background);
  color: var(--text-primary);
  font: var(--text-primary);

  // Reset the user agent margin.
  margin: 0;
  height: 100%;
  font-family: $font-main;
}

//  examples for components styles
.card {
  background: var(--card-bg);
  border: 0.0625rem solid var(--card-border);
  /* 1px */
  border-radius: var(--radius-md);
  padding: var(--padding-card);
  box-shadow: var(--shadow-card);
}

button[mat-raised-button] {
  width: fit-content;
  height: 32px;
  border-radius: var(--radius-sm);
  font-weight: 600;
  padding: var(--padding-xxs) var(--padding-xs);
  /* 10px 20px */
  font-size: 0.875rem;
  /* 14px */
}

button[mat-icon-button] {
  background: none !important;
  cursor: pointer;
  outline: none;
}

button[color='primary'] {
  background: var(--primary-20);
  color: var(--text-primary);
}

button[color='secondary'] {
  background: var(--base-80);
  color: var(--base-20);
}

.custom-user-menu {
  &.mat-mdc-menu-panel {
    background-color: var(--card-bg) !important;
  }

  .mat-mdc-menu-item {
    color: var(--text-primary) !important;

    .mdc-list-item__primary-text {
      color: var(--text-primary) !important;
    }

    .mat-icon {
      color: var(--text-primary) !important;
    }

    &:hover {
      background-color: var(--background) !important;
    }
  }
}

.mat-mdc-tooltip-panel {
  .mdc-tooltip__surface {
    border: 1px solid var(--card-border);
    background: var(--base-80);
    color: var(--base-20);
    border: var(--radius-sm);

    &::first-letter {
      text-transform: uppercase;
    }
  }
}

.tooltip-left {
  transform: translateX(-100%) !important;
}
