@use '@angular/material' as mat;
@use 'styles/app-theme.scss' as *;
@use 'styles//fonts.scss' as *;
@use 'styles/variable.scss' as *;
@use 'styles/normalize.css' as *;

@include mat.core();

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  height: 100%;
  @include mat.theme((color: (primary: mat.$cyan-palette,
        tertiary: mat.$orange-palette,
      ),
      typography: Roboto,
      density: 0,
    ));
}

body {
  color-scheme: light;
  background-color: var(--mat-sys-surface);
  color: var(--mat-sys-on-surface);
  font: var(--mat-sys-body-medium);

  // Reset the user agent margin.
  margin: 0;
  height: 100%;

  font-family: $font-main;
}

//  examples for components styles
.card {
  background: var(--card-bg);
  border: 0.0625rem solid var(--card-border);
  /* 1px */
  border-radius: var(--radius-lg);
  padding: var(--padding-card);
  box-shadow: var(--shadow-card);
}

button[mat-raised-button] {
  border-radius: var(--radius-md);
  font-weight: 600;
  padding: 0.625rem 1.25rem;
  /* 10px 20px */
  font-size: 0.875rem;
  /* 14px */
}

button[color='primary'] {
  background: var(--md-sys-color-primary);
  color: var(--md-sys-color-on-primary);
}

button[color='secondary'] {
  background: var(--md-sys-color-secondary);
  color: var(--md-sys-color-on-secondary);
}

.custom-user-menu {
  &.mat-mdc-menu-panel {
    background-color: var(--card-bg) !important;
  }

  .mat-mdc-menu-item {
    color: var(--text-primary) !important;

    .mdc-list-item__primary-text {
      color: var(--text-primary) !important;
    }

    .mat-icon {
      color: var(--text-primary) !important;
    }

    &:hover {
      background-color: var(--md-sys-color-surface-variant) !important;
    }
  }
}
