@use '../common.scss' as *;

/* HEADINGS */

@mixin heading-1 {
  font-family: $font-secondary;
  font-size: 56px;
  font-weight: 700;
  line-height: 70px;

  @media (max-width: $max-mobile) {
    font-size: 40px;
  }
}

@mixin heading-2 {
  font-family: $font-secondary;
  font-size: 48px;
  font-weight: 700;
  line-height: 60px;

  @media (max-width: $max-mobile) {
    font-size: 32px;
  }
}

@mixin heading-3 {
  font-family: $font-secondary;
  font-size: 40px;
  font-weight: 700;
  line-height: 48px;

  @media (max-width: $max-mobile) {
    font-size: 30px;
  }
}

@mixin heading-4 {
  font-family: $font-secondary;
  font-size: 32px;
  font-weight: 700;
  line-height: 38px;

  @media (max-width: $max-mobile) {
    font-size: 28px;
  }
}

@mixin heading-5 {
  font-family: $font-secondary;
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;

  @media (max-width: $max-mobile) {
    font-size: 22px;
  }
}

@mixin heading-6 {
  font-family: $font-secondary;
  font-size: 20px;
  font-weight: 700;
  line-height: 26px;

  @media (max-width: $max-mobile) {
    font-size: 18px;
  }
}

@mixin display-1 {
  font-size: 32px;
  font-weight: 700;
  line-height: 38px;

  @media (max-width: $max-mobile) {
    font-size: 28px;
  }
}

@mixin double-extra-large-text-semibold {
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;

  @media (max-width: $max-mobile) {
    font-size: 18px;
  }
}

@mixin double-extra-large-text-regular {
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;

  @media (max-width: $max-mobile) {
    font-size: 18px;
  }
}

@mixin extra-large-text-semibold {
  font-size: 18px;
  font-weight: 600;
  line-height: 26px;

  @media (max-width: $max-mobile) {
    font-size: 16px;
  }
}

@mixin extra-large-text-regular {
  font-size: 18px;
  font-weight: 400;
  line-height: 26px;

  @media (max-width: $max-mobile) {
    font-size: 16px;
  }
}

@mixin large-text-semibold {
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;

  @media (max-width: $max-mobile) {
    font-size: 14px;
  }
}

@mixin large-text-regular {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;

  @media (max-width: $max-mobile) {
    font-size: 14px;
  }
}

@mixin medium-text-semibold {
  font-size: 14px;
  font-weight: 600;
  line-height: 22px;

  @media (max-width: $max-mobile) {
    font-size: 12px;
  }
}

@mixin medium-text-regular {
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;

  @media (max-width: $max-mobile) {
    font-size: 12px;
  }
}

@mixin small-text-semibold {
  font-size: 12px;
  font-weight: 600;
  line-height: 20px;

  @media (max-width: $max-mobile) {
    font-size: 10px;
  }
}

@mixin small-text-regular {
  font-size: 12px;
  font-weight: 400;
  line-height: 20px;

  @media (max-width: $max-mobile) {
    font-size: 10px;
  }
}

@mixin extra-small-text-semibold {
  font-size: 10px;
  font-weight: 600;
  line-height: 16px;

  @media (max-width: $max-mobile) {
    font-size: 8px;
  }
}

@mixin extra-small-text-regular {
  font-size: 10px;
  font-weight: 400;
  line-height: 16px;

  @media (max-width: $max-mobile) {
    font-size: 8px;
  }
}
