@use '../../../../styles/variable.scss' as *;

:host {
  color: inherit;

  #content {
    &::first-letter {
      text-transform: uppercase;
    }
  }

  .Heading_1 {
    font-size: 56px;
    font-weight: 700;
    line-height: 125%;
  }

  .Heading_2 {
    font-size: 48px;
    font-weight: 700;
    line-height: 125%;
  }

  .Heading_3 {
    font-size: 40px;
    font-weight: 700;
    line-height: 120%;
  }

  .Heading_4 {
    font-size: 32px;
    font-weight: 700;
    line-height: 120%;
  }

  .Heading_5 {
    font-size: 24px;
    font-weight: 700;
    line-height: 125%;
  }

  .Display {
    font-size: 32px;
    font-weight: 700;
    line-height: 120%;
    font-family: $font-secondary;
  }

  .Heading_6 {
    font-size: 20px;
    font-weight: 700;
    line-height: 130%;
  }

  .highlight {
    color: var(--md-sys-color-secondary);
    font-weight: var(--weight-bold);
  }

  .cut-multi-line {
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
}
