@switch (variant) {
@case ('headingL') {
<h1
  [ngClass]="[variant, className]">{{text}}</h1>
}
@case ('headingM') {
<h2 [ngClass]="[variant, className]">{{text}}</h2>
}
@case ('headingS') {
<h3 [ngClass]="[variant, className]">{{text}}</h3>
}
@case ('bodyText') {
<p [ngClass]="[variant, className, isReduce ? 'cut-multi-line':'']">{{text}}</p>
}
@case ('descriptionS') {
<span
  [ngClass]="[variant, className, isReduce ? 'cut-multi-line':'']">{{text}}</span>
}
@default {
<span
  [ngClass]="[variant, className, isReduce ? 'cut-multi-line':'']">{{text}}</span>
}
}
